*{
	margin: 0;
	padding: 0;
}
.header{
	height: 100vh;
	background: url('assets/MG_4219.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.filtro{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, rgba(150, 217, 252, 0.3), rgba(235, 38, 143, 0.3));
	position: absolute;
	left: 200px;
}
.menurolativo{
	position: fixed;
}
.menu{
	background: #fff;
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.imgmenu{
	margin-top: 30px;
	width: 190px;
}
.imgmenino{
	width: 300px;
	position: absolute;
	left: 20%;
	bottom: 1px;
}
.h1menu{
	color: #fff;
	font-family: "adobe-clean", sans-serif ;
	font-size: 50px;
	font-weight: bold;

	position: absolute;
	top: 50%;
	left: 50%;
}
.textomenu{
	margin: 20%;
	display: flex;
	flex-direction: column;
}
.linkmenu1, .linkmenu2, .linkmenu3, .linkmenu4{
	margin: 5px;
	font-family: "adobe-clean", sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #A6538D;
}
