*{
	margin: 0;
	padding: 0;
}
@font-face {
     font-family: korolevbold;
     src: url('KorolevBold.woff');
}
@font-face {
	font-family: korolevheavy;
	src: url('KorolevHeavy.woff');
}
@font-face {
	font-family: korolevligth;
	src: url('KorolevLight.woff');
}
@font-face {
	font-family: KorolevMedium;
	src: url('KorolevMedium.woff');
}
@font-face {
	font-family: KorolevMediumItalic;
	src: url('KorolevMediumItalic.woff');
}
.header{
	height: 100vh;
	background: url('assets/imgheader.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/*.filtro{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, rgba(150, 217, 252, 0.3), rgba(235, 38, 143, 0.3));
	position: absolute;
	left: 200px;
}*/
.menurolativo{
	position: fixed;
}
.menu{
	width: 200px;
	height: 100vh;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.imgmenu{
	width: 190px;
	margin-top: 30px;
}
.imgmenino{
	width: 300px;
	position: absolute;
	left: 15%;
	bottom: 1px;
}
.h1menu{
	color: #fff;
	font-family: korolevheavy, sans-serif;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	top: 23%;
	left: 37%;
}
.textomenu{
	margin: 20%;
	display: flex;
	flex-direction: column;
}
.linkmenu{
	margin: 5px;
	color: #A6538D;
	font-family: "korolevbold", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.menures{
	display: none;
}
#linkmenu:hover{
	color: red;
}
.hambuerguer{
	margin: 2px;
	height: 3px;
	width: 30px;
	cursor: pointer;
	background: #A6538D
}
.divnuvem{
	width: 100vw;
	height: 30vh;
	position: fixed;
	top: 70%;
}
.nuvem{
	width: 100vw;
	height: 30vh;
	position: absolute;
}
main{
	width: 100vw;
	height: 100vh;
	background-color: #EB268F;
}
.sec_ativ{
	height:100vh;
	width: 80vw;
	position: relative;
}
.sec_ativ_div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.sec_ativ_p{
	height: 615px;
	width: 380px;
	padding-top: 60px;
	color: #FFFFFF;
	font: 30px korolev-Medium, sans-serif;
	font-size: 17px;
	position: relative;
	top:10%;
	left:25%;
}
.sec_ativ_div2{
	width: 150px;
	height: 50px;
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	right: 35%;
	bottom:-43%;
}
.sec_ativ_div2-seta{
	width: 20px;
}
.seta_esq{
	margin: 0 15px;
	position: absolute;
	top: 50%; 
	left:50%;
}
.sec_ativ_div2_p{
	height: 50px;
	width: 90px;
	margin-left: 10px;
	color: #FFFFFF;
	font: 30px KorolevLight, sans-serif;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec_ativ_div3{
	height: 400px;
	width: 600px;
	margin-top: 100px;
	/background-color: green;/
	position: absolute;
	right: 10px;
}
.sec_ativ_div3_img{
	width: 450px;
	position: absolute;
	top: 36%;
	left: 67%;
}
footer{
	display: flex;
	flex direction: row;
	position: relative;
}
.h1parceiros{
	color: #A6538D;
	font-family: "korolevbold", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
}
.parceiros{
	width: 70vw;
	margin-top: 70px;
	margin-bottom: 100px;
	position: relative;
	left: 200px;
}
.logos{
	width: 70vw;
}
.logo1, .logo2, .logo3{
	width: 100px;
	margin: 50px;
}
.divcolumn{
	display: flex;
	flex-direction: column; 
}
.backgroundctts{
	width: 1084px;
	height: 100vh;
	margin-left: 200px;
	background: #A6538D;
	color: #fff; 
	font-family: korolevbold, Sans-serif;
	display: flex;
	flex-direction: column;
}
.h1contato{
	margin: 80px 0 40px 60px;
	color: #96D9FC;
	font: 30px korolevbold, Sans-serif;
	font-weight: bold;
}
.divcontatos{
	margin-left: 60px;
}
.numero, .facebook{
	color: yellow;
}
.imgdofooter{
	margin: 0;
	padding: 0;
	width: 500px;
	position: absolute;
	top:30%;
	left: 61%;
}
.vainaweb_img{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 90%;
	right: 65%;
	z-index: 99;
}
.vainaweb_p{
	color: black;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 92%;
	right: 70%;
	z-index: 99;
}
@media (max-width:768px){
	.background{
		flex-flow: column-reverse nowrap;
	}
	.header{
		margin:0;
		padding: 0;
		width: 100vw;
		/height: 100vh;/
	}
	.parceiros{
		left: 0;
	}
	.h1menu{
		font-size: 36px;
		text-align: left;
		position: absolute;
		top: 30%;
	}
	.imgmenino{
		width: 198px;
		height: 340px;
		position: absolute;
		left: 2%;
		/top: 50%;/
	}
	.sec_ativ_p{
		margin-left: -20%;
		font-size: 12px;
		position: absolute;
		top: -5%;

	}
	.sec_ativ_div3_img{
		width: 450px;
		height: 260px;
		left: -11%;
		top: 44%;
	}
	.sec_ativ_div2{
		/*right: 60%;*/
		/*bottom: 10px;*/
	}
	.sec_ativ_div2_p{
		font-size: 14px;
		position: relative;
		color: black;
		right: 5%;
		top:-610%;
	}
	.seta_esq{
		position: absolute;
		left: -40%;
		top: -600%;
	}
	.seta_dir{
		position: absolute;
		left: -10%;
		/*top: 50%;*/
		bottom: 630%;
	}
	.logos{	
		display: flex;
		position: relative;
		justify-content: center;
		/*/margin-left: -50%;/*/
	}
	.nuvem{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 25%;
		position: fixed;
		right: 1%;
		bottom: -2%;
	}
	.divnuvem{
		height: 25%;
	}
	.hambuerguer{
		margin: 2px;
		height: 5px;
		position: relative;
		top: -20%;
		cursor: pointer;
	}
	.menures{
		display: block;
		margin-top: 6%;
	}
	.textomenu{
		position: absolute;
		top: -190px;
		flex-wrap: wrap;
		background-color: white;
		flex-direction: column;
		height: 160px;
		width: 100vw;
		color: #A6538D;
	}
	.menu{
		width: 480%;
		height: 150px;
		flex-direction: column;
		/z-index: 99;/
	}
	.menurolativo{
		z-index: 99;
	}
	.imgmenu{
		height: 120px;
		width: 150px;
		margin-left: 30%;
		margin-top: -6%;
	}
	.linkmenu{
		font-size: 40px;
		margin: 7px 80px;
	}
	.logo{
		display: flex;
		flex-direction: row
	}
	.vainaweb_p{
		position: absolute;
		font-size: 16px;
		right: 65%;
		top: 95%;
	}
	.vainaweb_img{
		height: 8%;
		width: 17%;
		position: absolute;
		right: 45%;
		top: 92%;
		z-index: 99;
	}
	.backgroundctts{
		margin: 0;
		padding: 0;
		width: 100vw;
	}
	.facebook{
		position: absolute;
		top: 70%;
	}
	.numero{
		position: absolute;
		top: 65%;
	}
	.p2{
		position: absolute;
		top:60%;
	}
	.p1{
		position: absolute;;
		top: 55%;
	}
	.h1contato{
		position: absolute;
		top: 40%;
	}
	.imgdofooter{
		width: 60%;
		position: absolute;
		top: 25%;
		left: 25%;
	}
	.logos{
		width: 100vw;
		justify-content: space-between;
	}
	.logo1, .logo2, .logo3{
		width: 3s0%;
		height: 6%;
		margin-left: 20px;
		margin: 0;
	}
}